@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:'Roboto', sans-serif;;
}

html, body{
    
    height: 100%;
}

html::-webkit-scrollbar { display: none; }

/* --- HOME PAGE --- */

#section_1{
    background-image: url(img/pexels-frank-cone-3573555.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width:100%;
}



#home_title_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 6px black;
    animation: fadeIn 3s ease;
}



.souli{
    /* display: inline; */
    position: relative;
}
.souli::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    /* width: 100%; */
    height: 3px;
    border-radius: 15%;
    background-color: black;
    /* transform: scale(0);
    transition: transform 0.2s ease-in-out; */
    transition: width 0.2s ease-in-out;
}

.souli:hover::after{
    /* transform: scale(1); */
    width: 100%;
    cursor: pointer;
}




.souliwhite{
    /* display: inline; */
    position: relative;
}
.souliwhite::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    /* width: 100%; */
    height: 3px;
    border-radius: 15%;
    background-color: white;
    /* transform: scale(0);
    transition: transform 0.2s ease-in-out; */
    transition: width 0.2s ease-in-out;
}

.souliwhite:hover::after{
    /* transform: scale(1); */
    width: 100%;
    cursor: pointer;
}

#about{
    background-color: black;
    height: 100%;
    color: white;
    padding-top: 50px;
    width:100%;
}

#about h1{
    position: relative;
    top: 20%;
    display: inline;
    left: 50%;
    font-size: 100px;
}






/* EFFECTS */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}




