@font-face {
    font-family: "Roboto";
    src: url(/font/Roboto-Regular.ttf);
}

*{
  
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
   
    user-select: none;
}
html::-webkit-scrollbar { display:none; }

body{
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
    
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(img/pexels-pixabay-247676.jpg);
    background-size: cover;
    background-position: center;
}

.header_title{
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.header_title h1{
    font-size: 3em;
    font-weight: bold;
}

.header_title h3{
    font-size: 1.3em;
}

.navbar{
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    background-color: transparent;
    /* overflow-y:hidden; */
    z-index: 7;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
  
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links{
    display: flex;
    align-items: center;
}
.nav-links ul{
    display: flex;
    align-items: center;
}

.navbar .nav-links ul li{
    margin: 0 20px;

}

.active a{
    color:white;
    font-size: 1.6em;
    font-weight: bold;
}

.active a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    transition: all 1s ease;
}

.navbar .menu_ham{
    width: 46px;
    position: relative;
    display: none;   
}


/* SOULIGNAGE INTERACTIF */

.underline_menu{
    position: relative;
}
.underline_menu::after{
    content:"";
    display: block;
    position: absolute;
    width: 0%;
    height: 3px;
    margin-top: 5px;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.underline_menu:hover::after{
    width: 100%;
    cursor: pointer;
}

.underline_menu:hover{
    letter-spacing: 4px;
    transition: all 0.6s ease-in-out;
}


.title_pages{
    font-size: 4em;
    display: inline-block;
    padding-right: 7px;
    padding-right: 7px;
    transform: translateX(-100%);
    opacity:0;
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}


/* RESPONSIVE */ 



@media screen and (max-width: 1070px){
    .navbar .menu_ham{
        display: block;
        margin-right:20px;
     
    }

    .navbar{
        padding: 0;
    }
    .header_title h1{
        font-size: 2.2em;
        font-weight: bold;
    }
    
    .header_title h3{
        font-size: 1.2em;
        margin-top: 10px;
        line-height: 22px;
    }

   .nav-links {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100vh;
    transition: all 0.7s ease-in-out;
    
   }

   .mobile-menu{
    margin-top:0;
    
    }

   .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
   }

   .navbar .nav-links ul li{
    margin:20px 0;
    font-size: 1.2em;
   }

   .navbar .logo{
    margin-left: 20px;
    margin-top: 10px;

   }
    .little_vanish{  
        display:none;
    }
    .title_pages{
        color: white;
        font-size:2.7em;
        display: block;
        text-align: center;
       

    }
}


section{
    height: 100vh;
    padding-top:20px;
    background-color: black;
    color: white;

}


hr{
    border-top:4px solid white;
   
}


.seperate_pages{
    transform: scale(0);
    
}

.active_hr{
    transform: scale(1);
    transition: transform 1.4s ease-in-out;
}




.active_title_Pages{
    opacity: 1;
    transform: translateX(0%);
}

.supp_logo{

    opacity: 0;

}



.reseaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 500px;


     
}


 .reseaux img:hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 1s ease-in-out;
    /* overflow-y: hidden; }  */}

.ph_insta{
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease,
    opacity 2s ease-in-out;
}

.ph_ln{
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease,
    opacity 2s ease-in-out;
}

.fade_In_Right{
    transform: translateX(0%);
    opacity: 1;
}

.fade_In_Left{
    transform: translateX(0%);
    opacity: 1;
} 









/* EFFECTS */
