@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:'Roboto', sans-serif;;
}

html, body{
    
    height: 100%;
}

html::-webkit-scrollbar { display: none; }

/* --- HOME PAGE --- */

#section_1{
    background-image: url(img/cube-art-geometry-geometric-shapes-3d-art.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width:100%;
}

#home_title_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 25%;

    color: white;
    text-shadow: 2px 2px 6px black;
    animation: fadeIn 4s ease;
}
.nav-link{
    border-radius: 10px; 
}

.nav-link:hover{

    background-color:rgb(253, 205, 19);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: 1.3s ease;

}








#about{
    background-color: yellow;

}



/* EFFECTS */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}




